<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540103711724-ebf833bde8d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);">
  <div class="container">
    <h1><strong>AirTool</strong> for simplest life!</h1>
    <p>Enter and discover a world of tools.</p>
    <%= link_to "Enter now", tools_path, class: "btn btn-warning" %>
  </div>
</div>
