.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-div {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
}
